<div class="container col-md-5">
    <div class="card">
    <div class="card-body">
            
          <form action="data" method="post" id="formulario" target="_blank">

            <p>Usuario: <input type="text" name="user" value = '' class="form-control" placeholder="Usuario para acceder"></p>

            <p>Contraseña: <input type="password" name="password" value = '' class="form-control" placeholder="Elije una contraseña fuerte"></p>

            <p><input type="submit" class="btn btn-success" value="Enviar datos"></p>

          </form>
    </div>
    </div>
               
    </div>
