<div class="card">
<div class="card-head">
    <table class="table table-bordered">
    <thead>
    <tr>
            <th>titulo</th>
            <th>autor</th>
            <th>isbn</th>
            <th>paginas</th>
            <th>paginas</th>
            <th>editorial</th>
            <th>fecha_publicacion</th>
            <th>fecha_de_registro</th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{books.titulo}}</td>
            <td>{{books.autor}}</td>
            <td>{{books.isbn}}</td>
            <td>{{books.paginas}}</td>
            <td>{{books.paginas}}</td>
            <td>{{books.editorial}}</td>
            <td>{{books.fecha_publicacion}}</td>
            <td>{{books.fecha_de_registro}}</td>
        </tr>
    <tbody>
    </table>
    <div class="card-body">
        
    </div>
    <div>
        <button (click)="deleteBook(books)" class="btn btn-danger">
            Delete
        </button>
    </div>
</div>
</div>